.main-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    
    width: 60%;
  }
 
  @media screen and (max-width: 520px) {
    .form {
        width: 100%;
        padding: 80px 10px;
    }
  }